[submodule "Databases/rpq-matrix"]
	path = Databases/rpq-matrix
	url = https://github.com/suvorovrain/rpq-matrix.git
[submodule "Databases/rpq-matrix_GB"]
	path = Databases/rpq-matrix_GB
	url = https://github.com/suvorovrain/rpq-matrix.git
[submodule "vendor/LAGraph"]
	path = vendor/LAGraph
	url = https://github.com/SparseLinearAlgebra/LAGraph.git
[submodule "vendor/GraphBLAS"]
	path = vendor/GraphBLAS
	url = https://github.com/SparseLinearAlgebra/GraphBLAS.git
[submodule "Databases/pathrex"]
	path = Databases/pathrex
	url = https://github.com/SparseLinearAlgebra/pathrex.git
